html{
    font-size: 100px;
}
html,body{
    width:100%;
    height:100%;
    overflow: hidden;
}
.main{
    width:100%;
    height:100%;
    overflow: hidden;

}
.swiper-container{
    width:100%;
    height:100%;
}
/*第一屏*/
.slide1{
    background:url("../img/1.jpg") no-repeat center;
    background-size:cover;
}
.slide1 img{
    position: absolute;
    opacity: 0;

}

.slide1 img:nth-child(1){
    width:4rem;
    height:4rem;
    left:1.2rem;
    top:4rem;
    border-radius: 50%;
}
.slide1 img:nth-child(2){
    width:2.5rem;
    height:2.8rem;
    top:2rem;
    right:2.2rem;
    border-radius: 50%;
    box-shadow: 1px 1px 3px white;
}
.slide1 div{
  position: absolute;
    opacity: 0;
    width:4rem;
    height:0;
    border-bottom:.04rem solid white;
    bottom: 1rem;
    left:1.2rem;
}
.slide1 p{
    position: absolute;
    opacity: 0;
    width:4rem;
    height:.2rem;
    line-height: .2rem;
    left:1.2rem;
    bottom:1.2rem;
    color:white;
    font-weight: bold;
    text-align: center;
    font-size: .4rem;
}
#page1 img{
    opacity: 1;
}
#page1 img:nth-child(1){
    -webkit-animation:zoomIn 1s 0s both;
    animation:zoomIn 1s 0s both;
}
#page1 img:nth-child(2){
    -webkit-animation:bounceInUp 1s 0.4s both;
    animation:bounceInUp 1s 0.4s both;

}
#page1 div{
    opacity: 1;
    -webkit-animation:zoomIn 1s 1s both;
    animation:zoomIn 1s 1s both;
}
#page1 p{
    opacity: 1;
    -webkit-animation:fadeInLeftBig 1s 1.2s both;
    animation:fadeInLeftBig 1s 1.2s both;
}





/*第二屏*/
.slide2{
    background:url("../img/2.jpg") no-repeat center;
    background-size:cover;
}
.slide2 p{
    position:absolute;

    /*width:2rem;*/
    /*height:.4rem;*/
    font-size: .4rem;
    font-weight: 200;
    font-family:'微软雅黑';
    color:white;
    line-height:.3rem;
    text-align: center;
    bottom: 0;
    opacity:0;
}
.slide2 p:nth-child(1){
    font-size: .5rem;
    font-weight: 200;
    top:.5rem;
    left:2rem;
    color:greenyellow;
}
.slide2 p:nth-child(2){
    font-size: .4rem;
    font-weight: 200;
    top:3rem;
    left:.2rem;
    color:greenyellow;
}
.slide2 p:nth-child(3){

    top:3.7rem;
    left:.4rem;
    color:greenyellow;
}
.slide2 p:nth-child(4){

    top:4.4rem;
    left:.2rem;
    color:greenyellow;
}
.slide2 p:nth-child(5){
    font-size: .4rem;
    font-weight: 200;
    top:5.1rem;
    left:.4rem;
    color:greenyellow;
}
.slide2 p:nth-child(6){
    font-size: .4rem;
    font-weight: 200;
    top:5.8rem;
    left:.2rem;
    color:greenyellow;
}
.slide2 p:nth-child(7){
    font-size: .4rem;
    font-weight: 200;
    top:6.5rem;
    left:.4rem;
    color:greenyellow;
}
/*右一列*/
.slide2 p:nth-child(8){
    top:2rem;
    left:3.4rem;
    color:greenyellow;
}
.slide2 p:nth-child(9){
    top:2.7rem;
    left:3.6rem;
    color:greenyellow;
}
.slide2 p:nth-child(10){
    top:3.4rem;
    left:3.4rem;
    color:greenyellow;
}
.slide2 p:nth-child(11){
    top:4.1rem;
    left:3.6rem;
    color:greenyellow;
}
.slide2 p:nth-child(12){
    top:4.8rem;
    left:3.4rem;
    color:greenyellow;
}
.slide2 p:nth-child(13){
    top:5.5rem;
    left:3.6rem;
    color:greenyellow;
}
.slide2 p:nth-child(14){
    top:6.2rem;
    left:3.4rem;
    color:greenyellow;
}
.slide2 p:nth-child(15){
    top:6.7rem;
    left:3.4rem;
    font-size:.3rem;
    color:greenyellow;
}
.slide2 p:nth-child(16){
    top:7.4rem;
    left:3.4rem;
    color:greenyellow;
}
.slide2 p:nth-child(17){
    top:8.1rem;
    left:3.4rem;
    font-size: .3rem;
    color:greenyellow;
}
#page2 p{
    opacity: 1;
}
#page2 p:nth-child(1){
    -webkit-animation:rubberBand 1s 0s both;
    animation:rubberBand 1s 0s both;
}
#page2 p:nth-child(2) {
    -webkit-animation: fadeInLeft 1s 0.2s both;
    animation: fadeInLeft 1s 0.2s both;
}
#page2 p:nth-child(3) {
    -webkit-animation: fadeInLeft 1s 0.4s both;
    animation: fadeInLeft 1s 0.4s both;
}
#page2 p:nth-child(4) {
    -webkit-animation: fadeInLeft 1s 0.6s both;
    animation: fadeInLeft 1s 0.6s both;
}
#page2 p:nth-child(5) {
    -webkit-animation: fadeInLeft 1s 0.8s both;
    animation: fadeInLeft 1s 0.8s both;
}
#page2 p:nth-child(6) {
    -webkit-animation: fadeInLeft 1s 1s both;
    animation: fadeInLeft 1s 1s both;
}
#page2 p:nth-child(7) {
    -webkit-animation: fadeInLeft 1s 1.2s both;
    animation: fadeInLeft 1s 1.2s both;
}
#page2 p:nth-child(8) {
    -webkit-animation: fadeInRight 1s 1.4s both;
    animation: fadeInRight 1s 1.4s both;
}
#page2 p:nth-child(9) {
    -webkit-animation: fadeInRight 1s 1.6s both;
    animation: fadeInRight 1s 1.6s both;
}
#page2 p:nth-child(10) {
    -webkit-animation: fadeInRight 1s 1.8s both;
    animation: fadeInRight 1s 1.8s both;
}
#page2 p:nth-child(11) {
    -webkit-animation: fadeInRight 1s 2s both;
    animation: fadeInRight 1s 2s both;
}
#page2 p:nth-child(12) {
    -webkit-animation: fadeInRight 1s 2.2s both;
    animation: fadeInRight 1s 2.2s both;
}
#page2 p:nth-child(13) {
    -webkit-animation: fadeInRight 1s 2.4s both;
    animation: fadeInRight 1s 2.4s both;
}
#page2 p:nth-child(14) {
    -webkit-animation: fadeInRight 1s 2.6s both;
    animation: fadeInRight 1s 2.6s both;
}
#page2 p:nth-child(15) {
    -webkit-animation: fadeInRight 1s 2.8s both;
    animation: fadeInRight 1s 2.8s both;
}
#page2 p:nth-child(16) {
    -webkit-animation: fadeInRight 1s 3s both;
    animation: fadeInRight 1s 3s both;
}
#page2 p:nth-child(17) {
    -webkit-animation: fadeInRight 1s 3.2s both;
    animation: fadeInRight 1s 3.2s both;
}





/*第三屏*/
.slide3{
    background:url("../img/3.jpg") no-repeat center;
    background-size:cover;
}
.slide3 div{
    position: absolute;
    left:.3rem;
    top:.4rem;
    width:5.5rem;
    height:.7rem;
    line-height:.7rem;
    border-radius:.3rem;
    font-size: .4rem;
    color:white;
    text-align: center;
    box-shadow: .05rem .05rem .1rem .02rem darkolivegreen;
    opacity: 0;

}
.slide3 div:nth-child(1){
    font-size: .6rem;
}
.slide3 div:nth-child(2){
    top:3rem;
    position: relative;
    padding: 0 .1rem;

}
.slide3 div:nth-child(2) span{
     float:left;
}

.slide3 div:nth-child(3){
    top:5rem;
}
.slide3 div:nth-child(3) span{
    float:left;
}
.slide3 div:nth-child(4){
    top:7rem;
}
.slide3 div:nth-child(4) span{
    float:left;
}

#page3 div{
    opacity: 1;
}
#page3 div:nth-child(1){
-webkit-animation: wobble 1s 0s both;
    animation: wobble 1s 0s both;
}
#page3 div:nth-child(2) span:nth-child(1){
    -webkit-animation: fadeInDown 1s 0.4s both;
 animation: fadeInDown 1s 0.4s both;
}
#page3 div:nth-child(2) span:nth-child(2){
    -webkit-animation: flipInY 1s 1s both;
    animation: flipInY 1s 1s both;
}
#page3 div:nth-child(3) span:nth-child(1){
    -webkit-animation: fadeInDown 1s 1.4s both;
    animation: fadeInDown 1s 1.4s both;
}
#page3 div:nth-child(3) span:nth-child(2){
    -webkit-animation: flipInY 1s 2s both;
    animation: flipInY 1s 2s both;
}
#page3 div:nth-child(4) span:nth-child(1){
    -webkit-animation: fadeInDown 1s 2.4s both;
    animation: fadeInDown 1s 2.4s both;
}
#page3 div:nth-child(4) span:nth-child(2){
    -webkit-animation: flipInY 1s 3s both;
    animation: flipInY 1s 3s both;
}




/*第四屏*/
.slide4{
    background:url("../img/4.jpg") no-repeat center;
    background-size:cover;
}
.slide4 div{
    position: absolute;
    color:white;
    font-size: .4rem;
    opacity: 0;

}
.slide4 div:nth-child(1){
    font-size: .5rem;
    left:2rem;
    top:1.7rem;
}
.slide4 div:nth-child(2){
    width:5.3rem;
     top:4rem;
    left:.6rem;

    font-size: .4rem;
    line-height:.7rem;
}
#page4 div{
    opacity: 1;
}
#page4 div:nth-child(1){
    -webkit-animation: swing 1s 0s both;
    animation: swing 1s 0s both;
}
#page4 div:nth-child(1){
    -webkit-animation: swing 1s 0s both;
    animation: swing 1s 0s both;
}
#page4 div:nth-child(2){
    -webkit-animation: rotateInDownRight 1s 0.5s both;
    animation: rotateInDownRight 1s 0.5s both;
}






/*第五屏*/
.slide5{
    background:url("../img/5.jpg") no-repeat center;
    background-size:cover;
}
.slide5 div{
    position: absolute;
    color:white;
    font-size: .4rem;
    opacity: 0;
}
.slide5 div:nth-child(1){
    left:2rem;
    top:2rem;
}
.slide5 div:nth-child(2){
    left:.2rem;
    top:4rem;
    font-size: .3rem;
    line-height: .3rem;
}
.slide5 div:nth-child(3){
    left:.2rem;
    top:6rem;
    font-size: .3rem;
    line-height: .3rem;
}
#page5 div{
    opacity: 1;
}
#page5 div:nth-child(1){
    -webkit-animation: wobble 1s 0s both;
    animation: wobble 1s 0s both;
}
#page5 div:nth-child(2){
    -webkit-animation: fadeInUp 1s 0.5s both;
    animation: fadeInUp 1s 0.5s both;
}
#page5 div:nth-child(3){
     -webkit-animation: fadeInUp 1s 1s both;
    animation: fadeInUp 1s 1s both;
}







.slide6{
    background:url("../img/6.jpg") no-repeat center;
    background-size:cover;
}
.slide6 div{
    position: absolute;
    color:saddlebrown;
    font-size: .4rem;
    opacity: 0;
}
.slide6 div:nth-child(1){
    left:2rem;
    top:2rem;
    font-size: .6rem;
    font-weight: bold;
    line-height: .3rem;
}
.slide6 div:nth-child(2){
    left:.2rem;
    top:4rem;
    font-size: .3rem;
    line-height: .3rem;
}
.slide6 div:nth-child(3){
    left:.2rem;
    top:5rem;
    font-size: .3rem;
    line-height: .3rem;
}
.slide6 div:nth-child(4){
    left:.2rem;
    top:6rem;
    font-size: .3rem;
    line-height: .3rem;
}
.slide6 div:nth-child(5){
    left:.2rem;
    top:7rem;
    font-size: .3rem;
    line-height: .3rem;
}
#page div{
    opacity: 1;
}
#page6 div:nth-child(1){
    -webkit-animation: rollIn 1s 0s both;
   animation: rollIn 1s 0s both;
}

#page6 div:nth-child(2){
    -webkit-animation: lightSpeedIn 1s 0.5s both;
    animation: lightSpeedIn 1s 0.5s both;
}
#page6 div:nth-child(3){
    -webkit-animation: lightSpeedIn 1s 1s both;
    animation: lightSpeedIn 1s 1s both;
}
#page6 div:nth-child(4){
    -webkit-animation: lightSpeedIn 1s 1.5s both;
    animation: lightSpeedIn 1s 1.5s both;
}